/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features,#featuresHeading h2{
  text-align: center;
}
#features img{
  margin:0 0 20px 0;
}
#featuresHeading img{
  margin: 0 0 10px 120px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
   body{
     -webkit-font-smooting:antialised;
     text-rendering: optimizeLegibility;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */
  .navbar-nav,.navbar-form{
    margin-top: 30px;
  }


/* --------------------------------------
   Carousel
   -------------------------------------- */
#searchInput{
     width:200px;
}
#myCarousel,#picture{
  margin-top: 150px;
}
#myCarousel .item,#picture .col-12{
  height:400px;
}
#pic{
  height: 180px;
}
.carousel-caption{
  font-size: 20px;
}
.carousel-caption h4{
  font-size: 32px;
}

#slide1{
  background: url('../../images/dogs_medium.jpg') top center no-repeat;
}
#slide2{
  background: url('../../images/Pets_medium.jpg') top center no-repeat;
}
#picture{
  background: url('../../images/lovely_pet_medium.png') top center no-repeat;
}
#pic{
  background: url('../../images/apartment_medium.jpg') top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
#bigCallout .well{
  margin:20px 0;
}
.well .page-header{
  margin-top: 0;
}
.well .page-header h1{
  text-align: center;
  margin-top: 0;
}
#bigCallout .well .page-header p{
  text-indent: 30px;
}
#moreInfo .thumbnail img,.well img{
  margin: 0 10px 10px 0;
}
#moreInfo ,.well,#moreInformation{
    text-align: justify;
}
#moreCourses{
  text-align: center;
}
#moreCourses img{
  margin-top: 20px;
}
#moreInformation img{
  margin: 0 0 10px 20px;
}
#radiobtn {
  padding-left: 15px;
}
.thumbnails{
  margin: 20px 0px;
}
footer{
     background: #333;
     color:#eee;
  font-size: 20px;
  padding-left: 30px;
  text-align: center;
}
#copyrights .lead{
  margin-top:40px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item,#picture .col-12{
    height:310px;
  }
  #pic .well{
    height:100px;
  }
  .carousel-caption{
    font-size: 16px;
  }
  .carousel-caption h4{
    font-size: 22px;
  }
  #slide1{
    background: url('../../images/dogs_small.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/Pets_small.jpg') top center no-repeat;
  }
  #picture{
    background: url('../../images/lovely_pet_small.png') top center no-repeat;
  }
  #pic{
    background: url('../../images/apartment_small.jpg') top center no-repeat;
  }

}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item,#picture .col-12{
    height:500px;
  }
  #pic .well{
    height:180px;
  }
  #slide1{
    background: url('../../images/dogs_large.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/Pets_large.jpg') top center no-repeat;
  }
  #picture{
    background: url('../../images/lovely_pet_large.png') top center no-repeat;
  }
  #pic{
    background: url('../../images/apartment.jpg') top center no-repeat;
  }

}
